{% extends 'Sistema/principal.html' %}

{% block content %}

    <div style="text-align: center;" class="panel-body jumbotron">
        <div class="col-md-12 page-header" align="center"><h2>REPORTE</h2></div>
        <div style=" display:inline;">
            <form method='post'>{% csrf_token %}
                {{ formulario }}
                <input type='submit' value='Buscar'>
            </form>
        </div>

        <div class="panel-body jumbotron">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="text-info">
                        <div class="col-md-3">
                            <th style="text-align: center;">Nombre de US</th>
                        </div>
                        <div class="col-md-3">
                            <th style="text-align: center;">Horas Dedicadas</th>
                        </div>
                        <div class="col-md-3">
                            <th style="text-align: center;">Estado</th>
                        </div>
                        <div class="col-md-3">
                            <th style="text-align: center;">Responsable</th>
                        </div>
                    </tr>
                    </thead>
                    <tbody id="rows">
                    {% for item in userstories_reporte %}
                        <tr>
                            <td class="datos">{{ item.nombre }}</td>
                            <td class="datos">{{ item.horasdedicadas }}</td>
                            <td class="datos">{{ item.estado }}</td>
                            <td class="datos">{{ item.responsable }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div align="center" class="col-md-12">
                <input type="button" class="btn btn-info" onclick="window.history.back()" name="Volver" value="Volver">
            </div>
        </div>
    </div>


{% endblock %}