{% extends 'Sistema/principal.html' %}

{% block content %}

<div  style="text-align: center;" class="panel-body jumbotron">
    <h2>Sprint Backlog de {{nombre_sprint}}</h2>
{#    <div  style=" display:inline;"  >#}
{#        <form method='post'>{% csrf_token %}#}
{#            {{ formulario }}#}
{#            <input type='submit' value='Buscar'>#}
{#        </form>#}
{#    </div>#}
      <a href="{% url 'reportesprintbacklog' id_sprint %}"
                           class="btn btn-info">Reporte Pdf Sprint Backlog</a>
    <div class="panel-body jumbotron">
        <div class="table-responsive">
            <div style="height: 380px; overflow: auto">
                <table class="table table-hover">
                    <thead>
                    <tr class="text-info">
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Usuario</th>
                        <th style="text-align: center;">Prioridad</th>
                        <th style="text-align: center;">Horas E.</th>
                        <th style="text-align: center;">Horas T.</th>
                        <th style="text-align: center;">Estado</th>
                        <th style="text-align: center;">% Realizado</th>
                    </tr>
                    </thead>
                    <tbody  id="rows">
                    {% for item in sprint_backlog_items %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.responsable }}</td>
                        <td>{{ item.prioridad }}</td>
                        <td>{{ item.horas_estimadas | floatformat }}</td>
                        <td>{{ item.horas_trabajadas | floatformat }}</td>
                        <td>{{ item.estado }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: {{item.porcentaje_realizado}}%;">
                                </div>
                                <span>{{item.porcentaje_realizado}}%</span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


{% endblock %}