<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.theme.css">
    <script src="/static/js/jquery.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datepicker-init.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home/principal.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/home/principal.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>

{% block header %}
{% endblock %}

<div style="height: 20%;">
    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>
